# Database (Docker uses DATABASE_HOST=db automatically)
DATABASE_HOST=db
DATABASE_USERNAME=hireflow
DATABASE_PASSWORD=hireflow
DATABASE_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# Rails
SECRET_KEY_BASE=change_me_to_a_long_random_string_in_production
RAILS_ENV=development

ACTIVE_STORAGE_SERVICE=local


